body{
    background-color: rgb(173, 90, 90);
}
h3
{
    color: rgb(255, 106, 0);
    text-align: justify;
}
 p{
    color: rgb(57, 95, 209);
}
header h3 {
	margin: 0;
	font-weight: normal;
	font-size: 165%;
}

header p {
	margin: 0;
}
